
    input{
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        }
    #clock {
        position:absolute;
        font-family: Arial;
        font-size: 40px;
        font-weight: bold;
        right: 2px;
        vertical-align: middle; }
    
    #main {
        padding: 0px;
        /*    */
        height: 100%;
        width: 100%;
      
    
        }
    
    #infoPane {
        height: 100px;
        left: 0px;
        top: 0px;
        width: 100%; 
        background-color:#f2f2f2;}
        
    #mainPane {
      width:100%;
      height:100vh; 
      top:50px;
      background-color:#f2f2f2;
      }
      
      /* as attr for now */
      #mainPane+table {
        width:100%;
        }
        
    #btnPane {
        border-collapse: collapse;
        /* border: 1px solid #EAEAEA; */
        top:55px;
        right: 0px;
        padding:0px 15px 0px 0px;
        position:absolute; }
        /* need css parent selector */
        #btnPaneCell {
        background-color: #f2f2f2;
        }  
    #compPane {
        border-collapse: collapse;
        border: 3px solid #EAEAEA;
        background-color:#FFFFFF;
        -moz-border-radius-topleft: 50px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -webkit-border-top-left-radius: 50px;
        border-radius: 10px;
        border-top-left-radius: 50px;
        overflow-y:scroll;
        height: 1400px;
        
        }
     
    #finishBtn {
        background-color: #E6FFE6;
        border: 3px solid #66FF66;
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        display: block;
        height: 144px;
        left: 2px;
        text-align: center;
        top: 2px;
        width: 144px; 
        cursor:pointer;
        }
        #finishBtn .finishLabel {
            font-family:"Arial Black","DroidSans","Georgia","sans";
            font-size:x-large;
            color:#999;
            top:40px;
            width:100%;
            text-align:center;
            }
        #finishBtn:hover{
            background-color:#CCC;
            }
        #finishBtn.mousedown{
            background-color:#F1F1F1;
            }
        
    #compGrid tr:hover { background-color: #eaeaea; }
    .absolute {
      position:absolute;
      }
    .adjButton {
        background-color: #eaeaea;
        display: none;
        text-align: center; 
        }
    
     
    .adjTime {
        left: 200px;
        position: relative;
        top: 0px;
        width: 20px; 
        }
     
    .adjCue {
        left: 100px;
        position: relative;
        top: 0px;
        width: 20px; 
        }
     
    .adj {
        width:22px;
        position: relative;
        z-index: 1; 
        }
        .adj ul {
            border-collapse:collapse;
            display: inline-block; /*display:none;*/
            list-style: none;
            margin: 0px;
            padding: 0px 0px 0px 0px; 
            }
        .adj li {
            border-collapse:collapse;
            border-bottom: none;
            border-top: none;
            border-left: 1px solid #E0E0E0;
            border-right: 1px solid #E0E0E0;
            color: #E0E0E0;
            margin: 0px;
            padding: 30px 0px 0px 0px;
            text-align: center;
            vertical-align: bottom;
            width: 40px;
            height:56px;
            }
            .adj li:hover {  }
            .adj li.plus { 
                border:solid 1px;
                -moz-border-radius-topleft: 10px;
                -webkit-border-top-left-radius: 10px;
                border-top-left-radius: 10px;
                background-color: rgba(255, 255, 255, 0.33);
                }
            .adj li.minus { 
                border:solid 1px;
                -moz-border-radius-bottomleft: 10px;
                -webkit-border-bottom-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-color: rgba(255, 255, 255, 0.33);
                }
            
    .app { 
        width: 100%;
        border-collapse: collapse; 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor:pointer;
        }
     
        .app table {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            }
            
        .appTable {
          height:1400px;
          }
    .boat {
        font-size: large;
        font-weight: bold;
        text-align: right; 
        }
        .boat .fleet {
            font-family: "Arial Narrow";
            font-size: large;
            left: 1px; 
            }
        .boat .rating {
            font-family: "Arial Narrow";
            font-size: large;
            left: 1px; 
            }
        .boat .helm {
            font-size: large;
            top: 0px; 
            left: 1px; 
            }
        .boat .boatName {
            font-size:60px;
            height:95px;
            overflow:hidden;
            }	
    .button {
        color: #E0E0E0; /*display:none;*/
        cursor: pointer; 
        }
        .button:hover {
            background-color: #E0E0E0;
            color: #FFFFFF; }
     
    .cueNo {
        display: inline;
        left: 10px;
        position: absolute;
        text-align: left;
        z-index: 1; 
        }
    .compId{
      visibility: hidden;
      height:0px;
      width:0px;
    }
    .compPanel {
        font-family: "Arial Black","DroidSans","Georgia","sans";
        position: relative;
        }
     
    .compPanel {
        -moz-border-radius-topleft: 50px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -webkit-border-top-left-radius: 50px;
        border-radius: 10px;
        border-top-left-radius: 50px;
        border: 4px solid #A0A0A0;
        z-index: 10; 
        }
        .compPanel:hover {
            /*background-color: #EAEAEA;*/
            border-color: #D0D0D0; 
            }
        .compPanel td { padding: 0px; }
     
            .compPanel td.boat {
                font-size: 24px;
                padding-right: 10px;
                
                }
    .compRow {
      width:100%;
      height:180px;
      }
    .finished, .finished:hover {
        
        background-color: #f2f2f2;
        /*
        border-width:2px;
        */
        border-color:#EAEAEA;
        /*
        border-style: dotted; 
        */
        }
        .finished .time { border: none; }
         
        .finished .adj li {
            border-left: 1px solid #CCCCCC;
            border-top: none;
            color: #CCCCCC; 
            }
            .finished .adj li.plus {
                border-top: none;
                border-bottom:1px solid #CCCCCC; 
                }
            
    
    .last {border-bottom: none; border-right: none; }
                
    .spacer { height: 5px }
    .selected { }
    
    .time {
        margin: 0px;
        padding: 0px; 
        background-color: rgba(255, 255, 255, 0.33);
        width:300px;
        z-index: 1; 
        }
        .time ul {
            bottom: 0px;
            margin: 0px;
            padding: 0px;
            position: relative;
            right: 9px; 
            }
        .time li {
            border-collapse: collapse;
            border: 1px solid black;
            display: inline;
            height: 10px;
            left: -40px;
            list-style: none;
            padding: 0px;
            text-align: center;
            width: 80px; 
            }
    .timeButtons {
        border-collapse: collapse;
        border: 1px solid #EAEAEA;
        color: #E0E0E0;
        display: none;
        font-size: xx-small;
        left: 0px;
        margin: 0px;
        padding: 0px;
        width: 100%; 
        }
        .timeButtons td { padding:0px; }
     
        .timeButtons th {
            font-family: "Arial Narrow";
            font-size: 6px;
            margin: 0px;
            padding: 0px; 
            }
        .timeButtons td {
            border: 1px solid #EAEAEA;
            text-align: center;
            width: 10px; 
            }
    /*		
    .timeTable{
        display:none;
    }
    */
    .timeTable {
        width:200px;
      }
      
    .timeTable td { 
        padding: 0px; }
    
    .timeDisplay {
        height: 25px;
        text-align: center;
        font-size:45px;
         }
        
    .btn{
        font-family:"Arial Black","DroidSans","Georgia","sans";
        background-color:#EAEAEA;
        border:1px solid #CCCCCC;
        margin-left:auto;
        margin-right:auto;
        text-align:center; 
        }
        .btn:hover{
            background-color:#CCC;
        }
        .btn.mousedown{
            background-color:#F1F1F1;
        }
    #startSetBtn{
        position:absolute;
        padding-top:2px;
        font-size:11px;
        top:2px;
        height:17px;
        width:65px;
        left:91px;
        vertical-align:middle;
        }
    
    #raceSelect{
        position:absolute;
        top:0px;
        left:5px;
        }	
        
    #codeBtn{
        position:absolute;
        font-family:"Arial Black","DroidSans","Georgia","sans";
        font-size:12px;
        top:165px;
        width:87px;
        height:87px;
        background-color:#EAEAEA;
        border:1px solid #CCCCCC;
        margin-left:auto;
        margin-right:auto;
        }
        
        #codeBtn:hover{
            background-color:#CCC;
        }
        #codeBtn.mousedown{
            background-color:#F1F1F1;
        }
    #codeLabel{
        position:absolute;
        width:100%;
        text-align:center;
        color:#999;
        -moz-user-select: none;  
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
        }
    
    #codeSelect{
        position:absolute;
        top:163px;
        left:93px;
        }
    #startTime{
      position:absolute;
        top:22px;
        left:5px;
        width:130px;
        }
    #finishPane{
        position:absolute;
        top:250px;
        font-family:"Arial Black","DroidSans","Georgia","sans";
        font-size:14px;
     }
     .finishListTitle{
      margin-left:0px;
       padding:0px;
       text-align:left;
     }
     .finishListTitle li{
       margin-left:8px;
       font-size: 10px;
     }
     #save{
        position:absolute;
        top:50px;
        left:5px;
        width:156px;
     }
    template{
        display: none;
    }
    